<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title><%= title %></title>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
  
</header>

<main>
  <div class="jumbotron">
    <h1><%= title %></h1>
    <p>Navgrahaa news channel is a news channel that is dedicated to providing news on Navgrahaa, a prominent IT company based in Andheri, Mumbai.</p>
    <p>Navgrahaa news channel is dedicated to providing the latest news and updates on events happening within the Navgrahaa organization. We strive to provide accurate and timely information to our readers, ensuring that they stay abreast of the latest developments.</p>
    <p>Our team of experienced journalists and editors work tirelessly to gather and verify the information, ensuring that the news we publish is accurate and reliable.</p>
    <p>Whether you are an employee of Navgrahaa or simply someone interested in the company's activities, our news channel is the perfect place to stay informed about what's happening on the inside.</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>