<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      body {
        background-color: #f5f5f5;
      }
      .card {
        margin-bottom: 1rem;
      }
      .card-body {
        padding: 1rem;
      }
      .card-text {
        color: #555;
      }
      .card-footer {
        background-color: #fff;
      }
      .card-footer a {
        color: #555;
        text-decoration: none;
      }
      .card-footer a:hover {
        color: #007bff;
      }
    </style>
    <title>Live News App</title>
  </head>
  <body>
    <div class="container">
        <div class="row"> 
            <div class="col-md-8 blog-main">
                <% news.forEach(article => { %>
                <div class="card mb-3">
                  <img src="<%= article.image %>" class="card-img-top" onerror="this.style.display='none'" alt="Image for <%= article.title %>" />
                  <div class="card-body">
                    <h5 class="card-title"><%= article.title %></h5>
                    <p class="card-text"><%= article.content %></p>
                    <div class="card-footer">
                      <small class="text-muted"><%= new Date(article.date).toLocaleDateString() %> by <a href="#">News Feed</a></small>
                    </div>
                  </div>
                </div>
                <% }) %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>

